* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: rgb(12, 12, 12);
}

.container {
  max-width: 91rem;
  margin: 2rem auto;
  padding: 0px 2rem;
}
h2{
  margin-bottom:100px;
}
.img-fluid {
  max-width: 100%;
}
.logo img {
  width: 70px;
  height: 70px;
  border-radius: 41px;
  outline: 4px solid red;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
}

.items {
  display: flex;
  align-items: center;
  gap: 30px;
  transition:all .5s;
  
}

.items a:link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.items a:hover {
  color: red;
  
  scale:1.1;
}

.active {
  color: red !important;
}

button {
  font-size: 20px;
  padding: 0.6rem 1em;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #c31432, #892211);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  border: none;
  transition:all .7s;

}

button:hover {
  background: white;
  outline: 1px solid red;
  color: red;
  border: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}
.short-info {
  color: red;
  font-size: 1rem;
  margin-bottom: 0.9rem;
}

.hero-heading {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}
.hero-sub-heading {
  font-size: 0.9rem;
  opacity: 0.7;
}

.users {
  display: flex;
  align-items: center;
  margin: 1rem 0px;
}
.user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid red;
}
.learn-more {
  align-self: start;
  margin-top: 3rem;
}

/* media queries */

@media only screen and (max-width: 800px) {
  .items {
    display: none;
  }

  .row {
    grid-template-columns: 1fr;
  }
  .learn-more {
    align-self: start;
    margin: 1rem 0px;
  }
}
